/* Large desktops (1300px and up) */
@media (min-width: 1300px) {
    .product-grid{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .product-card img{
        aspect-ratio: 1;
    }
    .product-info h3{
        font-size: 26px;
    }
}
/* Large desktops (1185px and up) */
@media (max-width: 1185px) {
    .hero h1{
        font-size: 2.5rem;
    }
    .product-grid{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .product-info h3{
        font-size: 16px;
    }
}

/* Laptops & small desktops (992px and up) */
@media (max-width: 992px) {
    nav .logo{
        font-size: 2rem;
    }
    .hero h1{
        font-size: 2rem;
    }
    .hero p{
        font-size: 18px;
    }
    .hero .btn{
        padding: 5px 20px;
        border-radius: 5px;
        font-size: 14px;
    }
    .section-title{
        font-size: 1.9rem;
    }
    .products{
        padding: 0 60px 50px;
    }
       .product-grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .product-info{
        flex-grow: 0;
    }
    .product-info h3{
        font-size: 0.7rem;
    }
    .product-btn button{
        padding: 5px 20px;
        font-size: 10px;
    }
    .about-section,
.contact-section,
.testimonial-section{
    padding: 0 20px 20px;
}
.testimonial-card{
    width: 240px;
}
}

/* Tablets (768px and up) */
@media (max-width: 768px) {
    nav .logo{
        font-size: 1.7rem;
    }
    nav a{
        font-size: 12px;
    }
    .hero h1{
        font-size: 1.8rem;
    }
    .hero p{
        font-size: 16px;
    }
    .product-grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .product-info h3{
        font-size: 14px;
    }
    .about-section,
.contact-section,
.testimonial-section{
    padding: 0 40px 20px;
}
}

/* Large phones (626px and up) */
@media (max-width: 626px) {
      nav #menu{
        display: block;
        position: relative;
        z-index: 2;
        right: 25px;
        top: 6px;
        cursor: pointer;
    }
    nav #menu .material-symbols-outlined{
        color: #A0836E;
    }
    nav .logo{
        font-size: 1.2rem;
        color: #A0836E;
        display: inherit;
    }
    nav .links{
        display: flex;
        flex-direction: column;
        width: 30%;
        background: #FAF7F3;
        padding: 35px 10px;
        position: absolute;
        left: 15px;
        top: 20px;
        visibility: hidden;
    }
    nav .show-menu{
        visibility: visible;
        opacity: 1;
    }
    nav .links a{
        color: #A0836E;
        font-size: 12px;
    }
       .products{
        padding: 0 20px;
    }
    .product-grid{
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 10px;
    }
    .product-card{
        padding: 10px;
        height: fit-content;
    }
    .product-info h3{
        font-size: 10px;
    }
    .product-info .price{
        margin: 0;
    }
    .about-section p{
        font-size: 1rem;
    }
    .testimonial-card{
        width: 450px;
    }
}

/* Small phones (415px and below) */
@media (max-width: 415px) {
    .product-btn button{
        font-size: 0.4rem;
        margin-bottom: 5px;
    }
}
